extend ../layout

block content
	.container
		.form-group
			a.btn-link(href="/admin/movie/add") 添加电影
		table.table.table-hover.table-bordered
			thead
				tr
					th 电影名称
					th 分类
					th 导演
					th 国家
					th 上映年份
					th 录入时间
					th 更新时间
					th 查看
					th 更新
					th 删除
			tbody
				each item in movies
					tr(class="item-id-#{item.id}")
						td #{item.title}
						td #{item.category.name}
						td #{item.director}
						td #{item.country}
						td #{item.year}
						td #{moment(item.meta.createdAt).format('YYYY/MM/DD')}
						td #{moment(item.meta.updateAt).format('YYYY/MM/DD')}
						td
							a.btn-link(href="/movie/details/#{item.id}") 查看
						td
							a.btn-link(href="/admin/movie/update/#{item.id}") 修改
						td
							a.btn-link.del(href="javascript:", data-id="#{item.id}", data-type="movie") 删除
						
	script(src="/js/list.js")