extend ../layout

block content
	.container
		.row
			.panel.panel-default
				.panel-heading
					h4 #{keyword}
				.panel-body
					each item in movies
						.col-md-2
							.ithumbnail(style="width: 100%")
								a(href="./movie/details/#{item.id}", target="_blank")
									img(src="#{item.poster}", alt="#{item.title}", width="100%")
								.caption
									h3 #{item.title}
									p: a.btn.btn-primary(href="./movie/details/#{item.id}", role="button", target="_blank") 观看预告片
		#page
			ul.pagination.success
				-for (var i = 1; i <= totalPage; i++) {
					-if (i == currPage) {
						li.active
							span #{i}
					-} else {
						li
							a(href="/results?#{r}&p=#{i}") #{i}
					-}
				-}
	include ../includes/footer